#about {
  padding: 10.625rem 12.5rem 0;
  .content {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    .left {
      width: 37.8125rem;
      img {
        width: 28.125rem;
        height: 42.125rem;
      }
    }
    .right {
      flex: 1;
      padding-top: 12.25rem;
      h2 {
        font-weight: bold;
        font-size: 2.75rem;
        color: #fff;
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
      }
      p {
        width: 55rem;
        line-height: 3rem;
        font-size: 1.6rem;
        color: #fff;
      }
      .btn {
        margin-top: 3rem;
        width: 45rem;
        height: 3.875rem;
        color: #fff;
        font-size: 1.3rem;
        background-image: linear-gradient(to right, #ecc94e, #dc4743);
      }
    }
  }
  @media screen and (max-width: 900px) {
    padding-top: 6rem;
    .content {
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .left {
        width: 100%;
        display: flex;
        justify-content: center;
        img {
          width: 56rem;
          height: 84rem;
        }
      }
      .right {
        width: 100%;
        padding-top: 12.25rem;
        h2 {
          font-weight: bold;
          font-size: 5rem;
          color: #fff;
          display: block;
          margin-bottom: 1rem;
          text-align: center;
        }
        p {
          width: 100%;
          text-align: center;
          line-height: 7rem;
          font-size: 1.6rem;
          color: #fff;
        }
        .btn {
          width: 100%;
          margin-top: 3rem;
          height: 6rem;
          color: #fff;
          font-size: 2rem;
          background-image: linear-gradient(to right, #ecc94e, #dc4743);
        }
      }
    }
  }
}
