#about {
  padding: 9.375rem /* 150/16 */ 6.875rem /* 110/16 */ 7.8125rem /* 125/16 */
    17.9375rem /* 287/16 */;
  .content {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    .left {
    }
    .right {
    }
  }
  @media screen and (max-width: 900px) {
    .content {
    }
  }
}
